.blok {
  position: relative;
  width: 631px;
  height: 52px;
  margin: 23px 0 0 78px;
}
.input {
  position: relative;
  width: 631px;
  height: 52px;
  background: #5a5c66;
  font-size: 14px;
  padding-left: 26px;
  color: #b2b7bf;
  border: none;
}
.svg {
  position: absolute;
  right: 16px;
  top: 15px;
}
.svg:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .blok, .input{
    width: 320px;
  }
}