.pages {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  width: 104px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.page {
  color: #474955;
}
.page:hover {
  cursor: pointer;
}
.activ {
  color: #7ebc3c;
}